.newsletter{
    background: var(--newsletter-bg);
}

.newsletter__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.newsletter__content, .newsletter__social{
    width: 50%;
}

.newsletter__social  span a i{
    padding: 10px 10px;
    color: var(--primary-color);
    font-size: 2.5rem;
    cursor: pointer;
    margin: 30px;
    background: var(--body-bg);
    border-radius: 5px;
    margin-bottom: 50px;
    border: 1px solid var(--primary-color);
}

.newsletter__social{
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}