.information{
    background: var(--information-bg);
}

.information__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.information__content, .information__call{
    width: 50%;
}

.information__content{
    text-align: center;
    margin-bottom: 15px;
}

.information__call{
    display: flex;
    align-items: center;
    justify-content: center;
}

.light-theme .information{
    background: linear-gradient(
    180deg,
    rgba(189, 243, 255, 1) 29%,
    rgba(193, 243, 255, 1) 50%,
    rgba(226, 250, 255, 1) 78%
    );
}

.light-theme .call__btn{
    background: var(--primary-color);
    color: #fff;
}

/* 
.information__social  span a i{
    padding: 10px 10px;
    color: var(--primary-color);
    font-size: 2.5rem;
    cursor: pointer;
    margin: 30px;
    background: var(--body-bg);
    border-radius: 5px;
    margin-bottom: 50px;
    border: 1px solid var(--primary-color);
}

.information__social{
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
} */