.footer{
    padding:  40px 0px;
}

.footer__wrapper{
    display: flex;
    justify-content: space-between;
    column-gap: 2.5rem;
}

.footer__logo{
    width: 40%;
}

.footer__quick-links{
    width: 20%;
}

.footer__logo h2{
    color: var(--primary-color);
    display: flex;
    align-items: center;
}

.footer__logo img{
    max-width: 40px;
    height: auto;
    margin-right: 10px;
}

.subtitle__text{
    margin-left: 50px;
}

.small__text{
    font-size: 1rem;
    margin-top: 30px;
}

.quick__links-title{
    font-size: 1rem;
    color: var(--primary-color);
    font-weight: 400;
    margin-bottom: 30px;
}

.quick__links{
    list-style: none;
}

.quick__link-item{
    margin-bottom: 20px;
}

.quick__link-item a{
    font-size: 0.9rem;
    font-weight: 300;
    cursor: pointer;
}

.quick__link-item a:hover{
    color: var(--primary-color);
}

.copyright{
    border-top: 1px solid var(--primary-color);
    padding-top: 20px;
    color: #fff;
    text-align: center;
    font-size: 0.8rem;
}