.hero__wrapper{
    display: flex;
    justify-content: space-between;
}

.hero__content, .hero__img{
    width: 50%;
}

.hero__content{
  padding-top: 50px;
}

.hero__content h2{
    font-size: 2rem;
    line-height: 40px;
}

.hero__content p{
    margin-top: 20px;
    font-size: 1rem;
}

.highlight{
    color: var(--primary-color);
}

.hero__btns{
    margin-top: 20px;
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.primary__btn, .secondary__btn{
    font-family: var(--font-name); 
    padding: 0.8rem 1.5rem;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 0.2rem;
    cursor: pointer;
}

.primary__btn{
  background: var(--btn-secondary-bg);
  border: 1px solid var(--btn-primary-bg);
}

.secondary__btn{
  background: var(--btn-primary-bg);
}

