.services__top-content{
    text-align: center;
    margin-bottom: 50px;    
}

.services__top-content .highlight{
    color: var(--primary-color);
}

.service__item-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 2rem;
    row-gap: 2rem;
}

.services__item{
    /* background: var(--icon-bg); */
    width: 23%;
    padding: 30px 15px;
    text-align: center;
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
    cursor: pointer;
}

.service__icon{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background: var(--body-bg);
    border-radius: 5px;
    margin-bottom: 30px;
    border: 1px solid var(--primary-color);
}

.light-theme .service__icon{
    background-color: var(--primary-color);
}

.light-theme .service__icon i{
    color: #fff;
}

.service__icon i{
    font-size: 2rem;
    color: var(--primary-color);
}

.service__title{
    color: var(--primary-color);
    font-size: 1.3rem;
    margin-bottom: 30px;
}