.slider__content-top{
  text-align: center;
  margin-bottom: 50px;
}

.slider__wrapper{
  width: 80%;
  margin: auto;
}

.slider__item{
  background: var(--team-card-bg);
  padding: 40px 30px;
  border-radius: 0.5rem;
  text-align: center;
  cursor: pointer;
}

.light-theme .slider__item{
  border: 1px solid var(--primary-color);
}

.customer__details{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
  margin-top: 40px;
}

.customer__img{
  width: 70px;
  height: 70px;
}

.customer__img img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.customer__name{
  font-size: 1.2rem;
  color: var(--primary-color);
  font-weight: 500;
}