/* google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

/* css variables*/
:root {
  --primary-color: #0047ff;
  --heading-color: #fff;
  --btn-primary-bg: #0047ff;
  --btn-secondary-bg: #272629;
  --team-card-bg: #272629;
  --link-color: #fff;
  --link-active: #0047ff;
  /* --card-bg: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.1) 100%
  ); */
  --counter-color: #fff;
  --body-bg: #131115;
  --information-bg: linear-gradient(
    90deg,
    rgba(27, 9, 115, 1) 20%,
    rgba(23, 9, 96, 1) 38%,
    rgba(14, 9, 56, 1) 100%
  );
  --testimonial-bg: rgb(20, 52, 81);
  --font-name: "Poppins", sans-serif;
  --small-text-color: rgba(255, 255, 255, 0.774);
  --icon-bg:hsl(209, 60%, 20%);
}

.light-theme {
  --body-bg: rgb(255, 255, 255);
  --heading-color: #131115;
  --btn-primary-bg: #fff;
  --btn-secondary-bg: #0047ff;
  --primary-color: #0047ff;
  --counter-color: #fff;
  --counter-section-bg: #0047ff; 
  --link-color: #0c123d;
  --link-active: #0047ff;
  --information-bg: linear-gradient(
    180deg,
    rgba(189, 243, 255, 1) 29%,
    rgba(193, 243, 255, 1) 50%,
    rgba(226, 250, 255, 1) 78%
  );
  --small-text-color:#131115;
  --card-bg:#fff;
  --testimonial-bg: #f7f7f7;
  --team-card-bg: #fff;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  background: var(--body-bg);
  font-family: var(--font-name);  
}

a{
  text-decoration: none;
  color: var(--link-color);
}

h1, h2{
  color: var(--heading-color);
  font-size: 1.5rem;
}

section{
  padding: 60px 0px;
}

.container{
  width: 1240px;
  padding: 0px 15px;
  margin: auto;
}

.description{
  color: var(--small-text-color);
  line-height: 30px;
  font-size: 0.9rem;
}

.subtitle{
  font-size: 1rem;
  color: var(--primary-color);
  font-weight: 400;
  margin-bottom: 20px;
}

.light-theme .counter{
  background: var(--counter-section-bg);
}

.light-theme .secondary__btn{
  border: 1px solid var(--primary-color);
  color: #131115;
  font-weight: 600;
}

.light-theme a{
  font-weight: 500;
}