/* google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

/* css variables*/
:root {
  --primary-color: #b1d4e0;
  --heading-color: #fff;
  --btn-primary-bg: #56aeff;
  --btn-secondary-bg: #143451;
  --team-card-bg: #051d40;
  --link-color: #fff;
  --link-active: #83B3C0;
  --card-bg: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  --counter-color: linear-gradient(
    90deg,
    rgba(86,174,255,1) 5%,
    rgba(177,212,224,1) 50%,
    rgba(86,174,255,1) 100%
  );
  /* --body-bg: rgb(20, 52, 82); */
  --body-bg: rgb(5, 30, 66);
  --information-bg: linear-gradient(
    90deg,
    rgba(27, 9, 115, 1) 20%,
    rgba(23, 9, 96, 1) 38%,
    rgba(14, 9, 56, 1) 100%
  );
  --testimonial-bg: rgb(20, 52, 81);
  --font-name: "Poppins", sans-serif;
  --small-text-color: rgba(255, 255, 255, 0.774);
  --icon-bg:hsl(209, 60%, 20%);
}

.light-theme {
  --body-bg: rgb(255, 255, 255);
  --heading-color: #0c123d;
  --btn-secondary-bg: #816aff;
  --btn-primary-bg: #fff;
  --primary-color: #816aff;
  --counter-color: #fff;
  --counter-section-bg: #816aff;
  --link-color: #0c123d;
  --link-active: #816aff
  --information-bg: linear-gradient(
    180deg,
    rgba(189, 243, 255, 1) 29%,
    rgba(193, 243, 255, 1) 50%,
    rgba(226, 250, 255, 1) 78%
  );
  -small-text-color:#000;
  --card-bg:#fff;
  --testimonial-bg: #f7f7f7;
  --team-card-bg: #fff;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background: var(--body-bg);
  font-family: var(--font-name);  
}

a{
  text-decoration: none;
  color: var(--link-color);
}

h1, h2{
  color: var(--heading-color);
  font-size: 1.5rem;
}

section{
  padding: 60px 0px;
}

.container{
  width: 1240px;
  padding: 0px 15px;
  margin: auto;
}

.description{
  color: var(--small-text-color);
  line-height: 30px;
  font-size: 0.9rem;
}

.subtitle{
  font-size: 1rem;
  color: var(--primary-color);
  font-weight: 400;
  margin-bottom: 20px;
}